replicaCount: 1

image:
  repository: ghcr.io/tiny-systems/otel-collector
  pullPolicy: Always
  tag: "0.5.3"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  fsGroup: 10001

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 2345
  targetPort: 2345

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 1Gi

livenessProbe:
  grpc:
    port: 2345
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  grpc:
    port: 2345
  initialDelaySeconds: 10
  periodSeconds: 5

nodeSelector: {}

tolerations: []

affinity: {}
