apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "tinysystems-operator.fullname" . }}-pre-install-hook
  labels:
    {{- include "tinysystems-operator.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      annotations: {}
    spec:
      restartPolicy: Never
      containers:
        - name: pre-install-job
          image: {{ .Values.controllerManager.manager.image.repository }}:{{ .Values.controllerManager.manager.image.tag | default .Chart.AppVersion }}
          args: {{- toYaml .Values.controllerManager.manager.installArgs | nindent 12 }}
          command:
            - /manager
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "tinysystems-operator.fullname" . }}-pre-delete-hook
  labels:
    {{- include "tinysystems-operator.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      annotations: {}
    spec:
      restartPolicy: Never
      containers:
        - name: pre-delete-job
          image: {{ .Values.controllerManager.manager.image.repository }}:{{ .Values.controllerManager.manager.image.tag | default .Chart.AppVersion }}
          args: {{- toYaml .Values.controllerManager.manager.deleteArgs | nindent 12 }}
          command:
            - /manager
      serviceAccountName: {{ include "tinysystems-operator.fullname" . }}-controller-manager
