apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tinysystems-operator.fullname" . }}-manager-role
  labels:
  {{- include "tinysystems-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
{{- if .Values.rbac.enableKubernetesResourceAccess }}
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinymodules
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinymodules/finalizers
  verbs:
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinymodules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinynodes
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinynodes/finalizers
  verbs:
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinynodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinysignals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinysignals/finalizers
  verbs:
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinysignals/status
  verbs:
  - get
  - patch
  - update
{{- with .Values.rbac.extraRules }}
{{- toYaml . | nindent 0 }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "tinysystems-operator.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: operator
    app.kubernetes.io/part-of: operator
  {{- include "tinysystems-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "tinysystems-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "tinysystems-operator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'