apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tinysignals.operator.tinysystems.io
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  labels:
  {{- include "tinysystems-crd.labels" . | nindent 4 }}
spec:
  group: operator.tinysystems.io
  names:
    kind: TinySignal
    listKind: TinySignalList
    plural: tinysignals
    singular: tinysignal
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TinySignal is the Schema for the tinysignals API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TinySignalSpec defines the desired state of TinySignal
            properties:
              data:
                description: Data is the payload to send with the signal
                format: byte
                type: string
              node:
                description: Node is the name of the TinyNode to signal
                type: string
              port:
                description: Port is the port on the node to send the signal to
                type: string
            required:
            - node
            - port
            type: object
          status:
            description: TinySignalStatus defines the observed state of TinySignal
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []