---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinyflows
  - tinyprojects
  - tinysignals
  - tinystates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinyflows/finalizers
  - tinymodules/finalizers
  - tinynodes/finalizers
  - tinyprojects/finalizers
  - tinysignals/finalizers
  - tinystates/finalizers
  - tinytrackers/finalizers
  verbs:
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinyflows/status
  - tinymodules/status
  - tinynodes/status
  - tinyprojects/status
  - tinysignals/status
  - tinystates/status
  - tinytrackers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinymodules
  - tinynodes
  - tinytrackers
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
