# permissions for end users to edit tinyflows.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/managed-by: kustomize
  name: tinyflow-editor-role
rules:
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinyflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.tinysystems.io
  resources:
  - tinyflows/status
  verbs:
  - get
