---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: tinyflows.operator.tinysystems.io
spec:
  group: operator.tinysystems.io
  names:
    kind: TinyFlow
    listKind: TinyFlowList
    plural: tinyflows
    singular: tinyflow
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TinyFlow is the Schema for the tinyflows API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TinyFlowSpec defines the desired state of TinyFlow
            type: object
          status:
            description: TinyFlowStatus defines the observed state of TinyFlow
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
